body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.main{
    display: grid;
    grid-template-columns: repeat(14, 50px);
    grid-template-rows: repeat(14, 50px);
}
.red{
    background-color: red;

}
.white{
    background-color: white;
}
.blue{
    background-color: rgb(114, 114, 196);
}
.row1{
    grid-column: 6 / 9;
}
.row2{
    grid-column: 4 / 11;
}
.row3{
    grid-column: 3 / 12;
 }
 .row4-1{
    grid-column: 2 / 5;
 }
 .row4-2{
    grid-column: 5 / 7;
 }
 .row4-3{
    grid-column: 7 / 10;
 }
 .row4-4{
    grid-column: 10 / 12;
 }
 .row4-5{
    grid-column: 12 / 13;
 }
 .row5-1{
    grid-column: 2 / 4;
 }
 .row5-2{
    grid-column: 4 / 6;
 }
 .row5-3{
    grid-column: 6 / 8;
 }
 .row5-4{
    grid-column: 8 / 9;
 }
 .row5-5{
    grid-column: 9 / 11;
 }
 .row5-6{
    grid-column: 11 / 13;
 }
 .row6-1{
    grid-column: 2 / 4;
 }
 .row6-2{
    grid-column: 4 / 6;
 }
 .row6-3{
    grid-column: 6 / 8;
 }
 .row6-4{
    grid-column: 8 / 9;
 }
 .row6-5{
    grid-column: 9 / 11;
 }
 .row6-6{
    grid-column: 11 / 13;
 }
 .row7-1{
    grid-column: 1 / 4;
 }
 .row7-2{
    grid-column: 4 / 8;
 }
 .row7-3{
    grid-column: 8 /9;
 }
 .row7-4{
    grid-column: 9 / 13;
 }
 .row7-5{
    grid-column: 13 / 14;
 }
 .row8-1{
    grid-column: 1 /5;
 }
 .row8-2{
    grid-column: 5 /7;
 }
 .row8-3{
    grid-column: 7 / 10;
 }
 .row8-4{
    grid-column: 10 / 12;
 }
 .row8-5{
    grid-column: 12 / 14;
 }
 .row9-1{
    grid-column: 1 / 14;
 }
 .row10-1{
    grid-column: 1 / 14;
 }
 .row11-1{
    grid-column: 1 / 14;
 }
 .row12-1{
    grid-column: 1 / 14;
 }
 .row13-1{
    grid-column: 1 / 3;
 }
 .row13-2{
    grid-column: 4 / 6;
 }
 .row13-3{
    grid-column: 8 / 11;
 }
 .row13-4{
    grid-column: 12 / 14;
 }
 .row14-1{
    grid-column: 1;
 }
 .row14-2{
    grid-column: 5 / 6;
 }
 .row14-3{
    grid-column: 8 / 10;
 }
 .row14-4{
    grid-column: 13;
 }
 @keyframes move{
    0% {
        transform: translateY(0px);
    }
    25%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(100px);
    }
    75%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
 }
 .main{
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
 }